body {
  background-color: #2e2f2f;
  color: whitesmoke;
}

a {
  color: rgb(228, 228, 228);
  transition: all .3s;
}

a:hover {
  color: white;
  text-decoration: none;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

#app .container {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  font-family: 'IBM Plex Sans Thai', sans-serif;
}

.pagination {
  text-align: center;
}

.pagination .page-number, .pagination .extend {
  padding: 0 1rem;
}