<!DOCTYPE html>
<html lang="<%= config.language %>">

  <head>
    <%- partial('partials/head',{cache: true}) %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300&display=swap" rel="stylesheet">
  </head>

  <body>
    <div id="app">
      <div class="container"></div>
    </div>
  </body>


</html>
