html, body {
  scroll-behavior: smooth;
}

.post {
  max-width: 70%;
  margin: auto;

  font-family: 'IBM Plex Sans Thai', sans-serif;
  font-size: 1rem;
  line-height: 1.75;
}

.post .post-header {
  margin-bottom: 0;
}

.post .post-header h1, .post .post-header p {
  margin-bottom: 0;
}

.post .post-header p {
  margin-top: 0;
  color: lightgray;
  opacity: .7;
}

.post .post-footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.post-license {
  opacity: .8;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin: auto;
}

.post-license span {
  font-size: .8rem;
  line-height: 1.2rem;
}

/* Post Content */

.post-content {
  margin: auto;
}

.post-content:last-child {
  margin-bottom: 0;
}

.post-content .fancybox-img {
  border: none;
}

.post-content .fancybox-img:hover {
  opacity: none;
  border: none;
}

.post-content table {
  width: 100%;
}

.post-content table td {
  text-align: center;
}

/* ================================================================================================== */

/* TOC PARTIAL */

/* ================================================================================================== */

.post-toc {
  position: fixed;
  top: 95px;
  right: 2em;
  width: 15rem;
  font-size: 0.85rem;
}

@media only screen and (max-width: 1300px){
  .post-toc {
    display: none;
  }
}

.post-toc .tocbot-list {
  max-height: 450px;
  max-width: 250px;
  overflow: auto;
  position: relative;
  padding-right: 0.875rem;
}

.post-toc .tocbot-list::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.post-toc .tocbot-list::-webkit-scrollbar-thumb{
  width: 6px;
  background-color: #778DA9;
  opacity: 0.6;
  border-radius: 2px;
}

.post-toc .tocbot-list ul {
  list-style: none;
  position: inherit;
  overflow: hidden;
}

.post-toc .toc-list-item {
  line-height: 2rem;
}

.post-toc .toc-link {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  color: #778DA9;
  opacity: 0.6;
}

.post-toc .toc-link::before {
  background-color: #778DA9;
  height: 1.8rem;
}

.post-toc .toc-link:hover {
  opacity: 1;
}

.post-toc .is-active-link {
  opacity: 1 !important;
}

.post-toc .is-active-link::before {
  background-color: #778DA9;
}

.post-toc .tocbot-list-menu {
  margin: 1rem;
  font-size: .8rem;
}

.post-toc .tocbot-list-menu a {
  display: block;
  margin: .6rem 0;
  color: #778DA9;
  opacity: .7;
  cursor: pointer;
}

.post-toc .tocbot-list-menu a:hover {
  opacity: 1;
}